<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
    
    <title>ToDo List</title>
</head>
<body>
    <div id="app">
        <div id="logo">
            <h1>to do list &#10003;</h1>
        </div>

        <div class="new-item">
            <input type="text" placeholder="Nuovo ToDo" v-model="nuovoTodo">
            <button @click="addTodo">Aggiungi</button>
        </div>

        <div class="todo">
            <ul v-if = "todo.length > 0">
                <li class="underline" v-for="(item, index) in todo"> {{ index }} {{ item }} <i @click="removeTodo" class="fas fa-times"></i></li>
            </ul>
            <h2 v-else>Non ci sono ToDo</h2>
        </div>
    </div>
    <script src="js/script.js"></script>
</body>
</html>